    <div id="main-wrapper">

        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="login-content card">
                            <div class="login-form">
                                <h4>Login to DropShipping</h4>
                                <%= form_tag sessions_path do %>
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <%= text_field_tag :email , nil , class: 'form-control', placeholder: 'Email' %>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <%= password_field_tag :password , nil ,class: 'form-control' %>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Login</button>
                                    <div class="register-link m-t-15 text-center">
                                        <p>Do not have an account ? <%= link_to 'Sign Up', new_user_path %></p>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>