<div class='row'>
  <div class='col-lg-12'>
    <button type="button" class="btn btn-primary btn-addon m-b-10" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters">Filters<i class="ti-search" style="margin-left:10px"></i></button>
  </button>
  <div class="collapse" id="filters">
    <div class="card card-body">
      <%= form_for grid, options do |f| -%>
      <% grid.filters.each_with_index do |filter,i| %>
      <div class="datagrid-filter filter form-group row">
        <%= f.datagrid_label filter,  {class: 'col-lg-4 text-right col-form-label'}  %>
        <%= f.datagrid_filter filter, {class: 'col-lg-4 input-default form-control'} %>
      </div>
      <% end %>
      <div class="datagrid-actions offset-lg-9">
        <%= f.submit 'Apply', :class => "datagrid-submit btn btn-primary" %>
        <%# https://github.com/rails/rails/pull/14949 -%>
        <% empty_parameter = Rails.version >= "4.1.0" && Rails.version <= '4.1.2' ? nil : {}-%>
        <%= link_to raw('<i class="ti-close" style="margin-right:5px"></i>Clear All'), url_for(grid.to_param => empty_parameter), :class => "datagrid-reset btn btn-danger btn-flat btn-addon" %>
      </div>
      <% end -%>
    </div>
  </div>
</div></div>  