<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="card">
				<div class="card-body">
					<div class="form-validation">
						<%= render partial: 'partials/shared/form_errors', locals: {:object => company} %>
						<h3> Company Information </h3>
						<hr>
						<br><br>
						<%= form_with(model: [:admin,company],html:{'data-parsley-validate':true} , local: true) do |form| %>
						
						<div class="form-group row">
							<label class="col-lg-4 text-right col-form-label"> Name <span class="text-danger">*</span></label>
							<div class="col-lg-4">
								<%= form.text_field :name , class: 'form-control input-default', 'data-parsley-trigger':"change" ,'required':'true' %>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-4 text-right col-form-label"> Owner ID <span class="text-danger">*</span></label>
							<div class="col-lg-4">
								<%= form.number_field :owner_id , class: 'form-control input-default', 'data-parsley-trigger':"change" ,'required':'true' %>
							</div>
						</div>


						<div class="form-group row">
							<label class="col-lg-4 text-right col-form-label">Type <span class="text-danger">*</span></label>
							<div class="col-lg-4">
								<%= form.select :company_type , Company::TYPE.invert , {include_blank:'Select Type'}, {class:'form-control input-default','data-parsley-trigger':"change" ,'required':'true' } %>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-4 text-right col-form-label">Status <span class="text-danger">*</span></label>
							<div class="col-lg-4">
								<%= form.select :status , Company::STATUS.invert , {include_blank:'Select Status'}, {class:'form-control input-default','data-parsley-trigger':"change" ,'required':'true' } %>
							</div>
						</div>
						

						<div class="form-group row">
							<label class="col-lg-4 text-right col-form-label">City <span class="text-danger">*</span></label>
							<div class="col-lg-4">
								<%= form.select :city_id , City.all.map {|city| [city.name,city.id] }, {include_blank:'Select City'}, {class:'form-control input-default','data-parsley-trigger':"change" ,'required':'true' } %>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-4 text-right col-form-label"> Address <span class="text-danger">*</span></label>
							<div class="col-lg-4">
								<%= form.text_area :address , size: "40x6" , style: 'height:80px' ,class: 'form-control input-default', 'data-parsley-trigger':"change" ,'required':'true' %>
							</div>
						</div>


						<div class="form-group row">
							<div class="col-lg-8 ml-auto">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>

						<% end %>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>