    <div id="main-wrapper">

        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="login-content card">
                            <div class="login-form">
                                <h4>Register with DropShipping</h4>
                                <%= form_for @user do |f| %>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <%= f.text_field :name , class: 'form-control', placeholder: 'Name' %>
                                    </div>
                                    <div class="form-group">
                                        <label>Email address</label>
                                        <%= f.text_field :email , class: 'form-control', placeholder: 'Email' %>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <%= f.password_field :password , class: 'form-control' %>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>
                                    <div class="register-link m-t-15 text-center">
                                        <p>Already have account ? <%= link_to 'Sign In', new_session_path %></p>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>