            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary"><%= @_crumbs.last[0] if @_crumbs.present? %></h3> </div>
                <div class="col-md-7 align-self-center">
                        <%= render_crumbs %>
                </div>
            </div>