<div class='container'>
	<% flash.each do |key, value| %>
	<% key = 'danger' if key == 'alert' || key == 'error' %>
	<% key = 'success'  if key == 'notice' %>
	<div class="alert alert-<%= key %> alert-dismissible fade show" style="margin-top:10px">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">×</span>
		</button>
		<%= value %>		
	</div>
	<% end %>
</div>