<% if object.errors.any? %>
    <div id="error_explanation" class="col-md-8">
      <ul>
      <% object.errors.full_messages.each do |message| %>
         <div class="alert alert-danger alert-dismissible fade show"><%= message %>
         	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
      <% end %>
      </ul>
    </div>
  <% end %>