<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="card">
				<div class="card-body">
					<div class="form-validation">
						<%= render partial: 'partials/shared/form_errors', locals: {:object => category} %>
						<h3> Category Information </h3>
						<hr>
						<br><br>
						<%= form_with(model: [:admin,category],html:{'data-parsley-validate':true} , local: true) do |form| %>
						
						<div class="form-group row">
							<label class="col-lg-4 text-right col-form-label"> Name <span class="text-danger">*</span></label>
							<div class="col-lg-4">
								<%= form.text_field :name , class: 'form-control input-default', 'data-parsley-trigger':"change" ,'required':'true' %>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-4 text-right col-form-label"> Parent Category ID <span class="text-danger">*</span></label>
							<div class="col-lg-4">
								<%= form.number_field :parent_id , class: 'form-control input-default', 'data-parsley-trigger':"change" %>
								<p> Leave blank if root </p>
							</div>
						</div>
					

						<div class="form-group row">
							<div class="col-lg-8 ml-auto">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>

						<% end %>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>