<%= render partial: 'partials/shared/breadcrums_with_title' %>

<div class='row'>
	<div class='col-lg-10 offset-lg-9'>
		<%= link_to 'Create Category', new_admin_category_path, class: 'btn btn-primary' %>
	</div>
</div>  

<br>

<div class="row">

	<div class="col-lg-10 offset-lg-1 dataTables_wrapper no-footer">
		<%= datagrid_form_for @categories_grid, url: admin_categories_path %>

		<%= datagrid_table(@categories_grid) %>
		<div style="margin-top:10px" class="row"> 
			<div class="col-lg-2" style="margin-top:10px">
				Showing <%= @categories_grid.assets.count %> of <%= @categories_grid.assets.total_count %>
			</div>
			<div class="col-lg-10">
				<%= paginate @categories_grid.assets %>
			</div>
		</div>
		<br>
	</div> 
</div>

