<div class="header">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <b><img src="<%=image_path('logo.png')%>" alt="homepage" class="dark-logo" /></b>
                <span><img src="<%=image_path('logo-text.png')%>" alt="homepage" class="dark-logo" /></span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)">
                    <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large"></i>                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>
                    <div class="dropdown-menu">
                        <ul class="mega-dropdown-menu row">

                            <li class="col-lg-6 col-xlg-3 m-b-30">
                                <ul class="list-style-none">
                                    <li><%= link_to raw('<i class="fa fa-square"></i> Company Managment'), admin_companies_path %></li>
                                    <li><%= link_to raw('<i class="fa fa-square"></i> Category Managment'), admin_categories_path %></li>
                                </ul>
                            </li>
                            <li class="col-lg-6 col-xlg-3 m-b-30">
                                
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>