<!DOCTYPE html>
<html>
  <head>
    <title>DropShipping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

 </head>

  <body class="fix-header fix-sidebar">
  	
    <%= render :partial => 'partials/shared/flash_messages' %>

    <%= yield %>

  </body>
</html>
